<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<title>Запись удалена</title>
<body>
    Запись успешно удалена
    <p></p>
    <a href="/Subscriber/AllView">Вернуться к списку абонентов</a>
</body>
